[Unit]
Requires=duetcontrolserver.service
After=duetcontrolservice.service
Description=DSFMQTT
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 30
WorkingDirectory=/opt/dsf/plugins/DSFMQTT
Type=idle
ExecStart=/usr/bin/python3 /opt/dsf/plugins/DSFMQTT/DSFMQTT.py &> /dev/null
Restart=always
[Install]
WantedBy=multi-user.target
